[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
beautifulsoup4 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-heroku = "*"
dj-database-url = "*"
python-dotenv = "*"
django-crum = "*"
django-redis = "*"
firebase-admin = "*"
django-filter = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
